<header id="masthead" class="site-header navbar navbar-fixed-top" role="banner">

    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_principal" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img src="{{ chemin_images }}sunflower-logo1.png" alt="logo sunflower" title="logo sunflower" id="logo" class="img-responsive">

                <div class="contact">
                    <span>SUNFLOWER </span>
                    <span>
                    <a href="tel:07.85.36.83.85">
                    <i class="fa fa-phone" aria-hidden="true"></i>07.85.36.83.85
                    </a>
                    </span>
                    <span><a href="mailto:contact@sunflower.com"><i class="fa fa-envelope" aria-hidden="true"></i>Envoyer un mail</a></span>
                </div>

            </div>

        </div>
        <collapse class="collapse navbar-collapse navbar-right" id="menu_principal"   role="navigation" >


            <ul id="menu-main-nav" class="nav navbar-nav" >
                <li class="rubrique"><a class="lien-rubrique" href="index.php#accueil">ACCUEIL</a></li>
                <li class="rubrique"><a class="lien-rubrique" href="index.php#presentation">PRÉSENTATION</a></li>
                <li class="rubrique"><a class="lien-rubrique" href="index.php#demo">DÉMO</a></li>
                <li class="rubrique"><a class="lien-rubrique" href="index.php#tarifs">TARIFS</a></li>
                <li class="rubrique"><a class="lien-rubrique" href="index.php#reservation">DEMANDE DE
                        RÉSERVATION</a>
                </li>
                <li class="rubrique"><a class="lien-rubrique" href="index.php#connexion">ME CONNECTER</a></li>
            </ul>

        </collapse>
    </div>
</header>
