<section id="presentation">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
              <h2>﻿Vous cherchez un groupe pour animer un mariage, une réception, une soirée ?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-lg-8 col-lg-offset-2">
                <p>Nous sommes SUNFLOWER, un duo guitare-voix, et nous possédons un large répertoire de musiques dansantes et d'ambiance. Nous vous proposons un cocktail de reggae, rock, soul en français et anglais (Bob marley, Sting, Selah Sue, Police, Beatles...).</p>
                <p>Il vous suffira de faire appel à nous, nous ferons de cette soirée un événement inoubliable.</p>
                <p>N'hésitez pas à nous contacter pour plus d'informations. Nous vous enverrons d'autres démo musicales si vous le souhaitez.</p>
                <p>Contact : 06 10 93 37 46</p>

               <h3>Style :</h3>
                <p>
                    <ul>
                        <li>Reggae soul</li>
                        <li>Influences</li>
                        <li>Bob marley, Sting, Beatles</li>
                    </ul>
                </p>
              <h3>Composition :</h3>
                <p>
                    <ul>
                        <li>Alban à la guitare et les choeurs</li>
                        <li>Carole chanteuse principale</li>
                        <li>Looper plus percussions</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>