#masthead {
  background: rgba(000, 000, 000, 0.7);
  font-family: 'Comfortaa', cursive;
  font-size:1.6em;

}


// partie du menu de navigation à gauche
.navbar-header {
  // logo du site à centrer verticalement
  .logo {
    display:inline-block;
    vertical-align: middle;
  }
  // contact du site à centrer verticalement
  .contact  {
    color: $vert;
    line-height: 1.1;
    font-size: 0.9em;
    display:inline-block;
    vertical-align: middle;

    span {
      // affichage des contacts en block
      display:block;
      // marge à coté des images d'icones
      i {
        margin-right: 6px;
      }
      &.fa.fa-phone {
        font-size: 15px;
      }
    }

  }

  .navbar-toggle {
    background-color: $beige;
    margin-top: 2%;

    .icon-bar {
      background-color:$noir;
    }
  }

}

// menu de navigation à droite
#menu-main-nav {
  .lien-rubrique:hover, &.active {
    background-color: transparent;
    color:$beige;
  }
  .lien-rubrique {
    color:$gris;
  }
}






/*mobile*/
@media only screen and (max-device-width: 720px) {

  .navbar-nav > li > a{
    line-height: 60px;
  }
  .navbar-nav > li > a { font-size: 20px; }
  //.navbar-brand .contact {font-size:22px;}
}




@media (min-width: 768px) {
  .navbar-header {
    line-height: 139px;
  }
  .navbar-nav > li > a{
    line-height: 109px;
  }
}



//menu de navigation en mode mobile
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px;
}



// fin navbar