{#j'utilise le modèle html de base.html.twig#}
{% extends 'base.html.twig' %}
{#Je remplis une partie du body à l'aide d'un block qui est défini dans base.html.twig/#}
{% block content %}
    <div id="listReservation"></div>
    <script src="../"
{% endblock %}