@charset "UTF-8";
/* Reset*/
.navbar {
  /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+72,000000+100&0.92+96,0+99*/
  background: -moz-linear-gradient(top, #111312 96%, #111312 96%, transparent 100%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #111312 96%, #111312 96%, transparent 100%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #111312 96%, #111312 96%, transparent 100%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111312', endColorstr='transparent', GradientType=0);
  /* IE6-9 */
  border: none; }

.navbar-brand .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #bea06c;
  margin-left: 3%;
  line-height: 1.1; }

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .navbar-brand .contact {
    font-size: 14px; } }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand .contact {
    font-size: 14px; } }
.navbar-brand {
  max-height: 154px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%; }

/*mobile*/
@media only screen and (max-device-width: 720px) {
  .navbar {
    background-color: #111312; }

  .navbar-brand {
    max-height: 87px;
    width: 75%;
    margin-left: 0; }

  .navbar-nav > li > a {
    font-size: 20px; }

  .navbar-brand .contact {
    font-size: 22px; } }
.navbar-toggle {
  background-color: #bea06c;
  margin-top: 5%; }

#masthead .navbar-nav > li > a {
  color: #e1e3e2; }

@media (min-width: 768px) {
  .navbar-nav > li > a {
    line-height: 109px; } }
#masthead .navbar-nav > li > a:hover, #masthead .navbar-nav > li > a:focus {
  background: none;
  color: #bea06c; }

a {
  text-decoration: none;
  color: #ffbf00; }

/* D├®finition des polices personnalis├®es */
@font-face {
  font-family: 'Poiret One', cursive;
  font-family: 'Comfortaa', cursive; }
/*== Sections ==*/
section h1 {
  padding: 450px;
  text-align: center;
  color: white;
  margin: 0; }

/*on diff├®rencie la couleur 1 section sur 2*/
#accueil {
  background-image: url("https://j.gifs.com/vo26nm.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#presentation {
  background-image: url("../img/music.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#presentation div {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  text-align: justify;
  width: 70%;
  padding: 5%;
  font-size: 1.1em; }

#presentation div p, ul {
  margin: 2%;
  padding: 0px 50px; }

#presentation div h2 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 5%; }

#demo {
  background-image: url("../img/guitar6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

#tarifs {
  background-image: url("../img/guitar3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#reservation {
  background-image: url("../img/guitar4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

/*# sourceMappingURL=style.css.map */
