/* Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Comfortaa', cursive;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin du Reset*/


/* Définition des polices personnalisées */

@font-face
{
	font-family: 'Poiret One', cursive;
	font-family: 'Comfortaa', cursive;
}

/*== Menu horizontal ==*/
#op-horizontalnav {
	background:black;
	position:fixed;
	top:0;
	right:0;
	left:0
}
#op-horizontalnav .op-sectionlist {
	width:100%;
	max-width:1280px;
	margin:auto;
	padding:0;
	text-align:center;
	display: flex;
	justify-content: space-around;
	font-family: 'Comfortaa', cursive;
}
#op-horizontalnav .op-v-item {
	list-style:none;
	display:table-cell;
	font-size:18px;
}
#op-horizontalnav .op-v-item .op-v-link {
	color:#fff;
	padding:16px 8px;
	display:block;
	text-decoration:none;
}
#op-horizontalnav .op-v-item .op-v-link:hover, #op-horizontalnav .op-v-link.active {
	background-color:#fff;
	color:#171717
}


/*== Menu vertical ==*/
#op-verticalnav {
	position:fixed;
	top:0;
	right:0;
	left: auto;
	height: 100%;
	display:table
}
#op-verticalnav .op-sectionlist {
	height:100%;
	text-align:center;
	display:table-cell;
	vertical-align:middle
}

#op-verticalnav .op-v-item {
	display:block
}
#op-verticalnav .justify-height {}
#op-verticalnav .op-v-link {
	display:block;
	margin:12px 0
}
#op-verticalnav .v-marker {
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#ffbf00;
	display:inline-block;
	vertical-align:middle;
	margin-bottom:-2px;
	margin-right:10px;
	border: 1px solid #e1001b;
}
#op-verticalnav .op-v-link:hover .v-marker, #op-verticalnav .op-v-item .op-v-link.active .v-marker {
	background-color: #ff8100;
}
#op-verticalnav .op-v-itemdesc {
	display:inline-block;
	font-size:14px;
	position:absolute;
	white-space:nowrap;
	line-height:normal;
	padding:0 34px 0 0;
	vertical-align:middle
}
#op-verticalnav .op-v-itemdesc .op-v-itembg{
	display:inline-block;
	background-color:rgba(0,0,0,.5);
	color:#fff;
	padding:4px 10px 6px 10px;
	border:1px solid rgba(160,160,160,.2);
	border-radius:4px;
}
#op-verticalnav .op-v-link:hover .op-v-itemdesc {
	right:0px;
}


/*== Sections ==*/
section h1 {
	padding:450px;
	text-align:center;
	color:white;
	border-top:1px solid rgb(255,205,63);
	margin:0;
}
/*section:nth-child(even) h1 {
	background:#222;
	}*/

	/*on différencie la couleur 1 section sur 2*/

#mysect1{
	background-image: url('https://j.gifs.com/vo26nm.gif');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#mysect2{
	background-image: url('../img/music.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#mysect3{
	background-image: url('../img/guitar6.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#mysect4{
	background-image: url('../img/guitar3.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#mysect5{
	background-image: url('../img/guitar4.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#mysect6{
	background-image: url('../img/guitar5.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

/* Boutique */

.boutique{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.album{
	display: flex;
	flex-direction: column;
}

.texte {
	margin: 8%;
	text-decoration: none;
	display: flex;
	justify-content: center;
}

img{
	max-width: 350px;
}

/*Formulaire d'inscription*/


form h1{
	font-size: 38px;
	font-weight: bold;
	margin: 3%;
	text-align: center;
	font-family: 'Poiret One', cursive;
}


.formulaire p{
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.espace{
	margin: 12% 0%;
}
.espace a{
	text-decoration: none;
	color: #ffbf00;
	font-weight: bold;
}

.button{
	margin: 12% 0% 3% 0%;
	padding: 5px;
	border-radius: 5px;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 1.3em;
	background-color: #ffbf00;
}


.button:hover{
	background-color: white;
	color: black;
	border: 3px solid #ffbf00;
}


/* Footer */

footer{
	height: 180px;
	background-image: url('../img/guitar9.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	font-family: 'Poiret One', cursive;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.footer{
	display: flex;
	justify-content: space-around;
	width: 450px;
	font-size: 1.4em;
	font-weight: bolder;
}

.footer a {
	text-decoration: none;
	color: black;
}

.footer a:hover{
	color: #ffbf00;
	text-shadow:  1px 1px black;
}

.rs ul
{
  list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 200px;
}

.rs a{
    text-decoration: none;
    color: black;
}
.rs a:hover{
	color: #ffbf00;
	text-shadow:  1px 1px black;
}
.menuSandwich{
	position: fixed;
	z-index: 1000;
	width: 100px;
	margin: 20px 20px;
}


/*Responsive tablette*/
@media screen and (max-width: 900){
    .footer{
				max-width: 80%;
        font-size: 1.3em;
    }
		.menuSandwich{
			position: fixed;
			z-index: 1000;
			width: 130px;
			margin: 20px 20px;
		}
}

/*Responsive smartphone*/
@media screen and (max-width: 480px){
	.menuSandwich{
		position: fixed;
		z-index: 1000;
		width: 100px;
		margin: 20px 20px;
	}
	#op-horizontalnav .op-sectionlist {
		flex-direction: column;
	}
	.texte{
		margin-top: 30%;
	}
	.texte h1{
		font-size: 1.5em;
		font-weight: bold;
	}
	form{
		max-width: 100%;
	}
	.formulaire p{
		max-width: 100%;
		font-size: 1.1em;
		margin: 3% 0%;
	}
	footer{
		height: 150px;
	}
	.footer{
		max-width: 80%;
		font-size: 1.1em;
	}
	.rs {
		font-size: 0.8em;
	}
}
