@charset "UTF-8";
/* Reset*/
#masthead {
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Comfortaa', cursive;
  font-size: 1.6em; }

.navbar-header .logo {
  display: inline-block;
  vertical-align: middle; }
.navbar-header .contact {
  color: #8e8943;
  line-height: 1.1;
  font-size: 0.9em;
  display: inline-block;
  vertical-align: middle; }
  .navbar-header .contact span {
    display: block; }
    .navbar-header .contact span i {
      margin-right: 6px; }
    .navbar-header .contact span.fa.fa-phone {
      font-size: 15px; }
.navbar-header .navbar-toggle {
  background-color: #f1da96;
  margin-top: 2%; }
  .navbar-header .navbar-toggle .icon-bar {
    background-color: #171717; }

#menu-main-nav .lien-rubrique:hover, #menu-main-nav.active {
  background-color: transparent;
  color: #f1da96; }
#menu-main-nav .lien-rubrique {
  color: #e1e3e2; }

/*mobile*/
@media only screen and (max-device-width: 720px) {
  .navbar-nav > li > a {
    line-height: 60px; }

  .navbar-nav > li > a {
    font-size: 20px; } }
@media (min-width: 768px) {
  .navbar-header {
    line-height: 139px; }

  .navbar-nav > li > a {
    line-height: 109px; } }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px; }

a {
  text-decoration: none;
  color: #ffbf00; }

body {
  /*line-height: 1;*/
  font-family: 'Comfortaa', cursive;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

/* D├®finition des polices personnalis├®es */
@font-face {
  font-family: 'Poiret One', cursive;
  font-family: 'Comfortaa', cursive; }
/*== Sections ==*/
section h1 {
  padding: 450px;
  text-align: center;
  color: white;
  margin: 0; }

/*on diff├®rencie la couleur 1 section sur 2*/
#accueil {
  background-image: url("https://j.gifs.com/vo26nm.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#presentation {
  background-image: url("../img/bg-presentation.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#presentation div {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  text-align: justify;
  width: 70%;
  padding: 5%;
  font-size: 1.1em; }

#presentation div p, ul {
  margin: 2%;
  padding: 0px 50px; }

#presentation div h2 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 5%; }

#demo {
  background-image: url("../img/bg-demo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#tarifs {
  background-image: url("../img/bg-tarifs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

#reservation {
  background-image: url("../img/bg-reservation.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

/*Responsive tablette*/
@media screen and (max-width: 900px) {
  #demo iframe {
    width: 100%; } }
/*Responsive smartphone*/
@media screen and (max-width: 480px) {
  #demo iframe {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
